.deck-contents {
  border-right: 1px solid;
  text-align: center;
  width: 30%;
  min-width: 120px;
  overflow-y: auto;
}

.deck-list {
  list-style-type: none;
  padding: none;
}

.deck-card {
  border: 1px solid;
  border-radius: 4px;
  margin: 2%;
}

.deck-contents button {
  background: none;
  border: none;
  margin: 0px;
  font-size: 25px;
}

.deck-contents-save:hover {
  color: rgb(130, 216, 1);
}

.deck-contents-delete:hover {
  color: red;
}
