.options {
  border-bottom: solid 2px;
  border-color: #222526;
}

.options input {
  cursor: pointer;
}

.container {
  font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

ul.filters {
  list-style: none;
  padding: 5px;
}

ul.filters li {
  display: inline;
}

ul.filters li label {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(139, 139, 139, 0.3);
  color: #222526;
  border-radius: 7px;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
}

ul.filters li label {
  padding: 4px 9px;
  cursor: pointer;
}

ul.filters li input:checked ~ label {
  border: 2px green;
}
