.wrapper {
  width: 90%;
  margin: 0;
}

html,
body,
div,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  height: 100vh;
  width: 100vw;
}

.wrap {
  height: 100vh;
  display: flex;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: absolute;
  font-family: Helvetica;
  text-align: center;
  margin: 0;
  background-color: dimgrey;
  width: 100vw;
  height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  margin: auto;
}

.nav-box {
  width: 50%;
  margin: auto;
}

a {
  margin: auto 2%;
}

main,
.main-section {
  border: 1px solid;
  margin-bottom: 1%;
  border-radius: 8px;
}

main {
  padding: 20px 0;
  width: 100%;
}

.main-section {
  padding: 20.83% 0;
}

.cards-sections {
  position: relative;
  height: 60vh;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

/* .signup-form {
  margin-left: ;
} */
