nav {
  width: 100vw;
  background-color: #222526;
}

.nav-box {
  padding: 20px;
  font-weight: bold;
}

.nav-box > a {
  text-decoration: none;
  color: whitesmoke;
  text-shadow: 1px 1px 1px #131313;
}

.nav-box > a:hover,
.nav-box > a:active {
  color: goldenrod;
}
